<div class="container center mt-5" style="width: 50rem;">
    <h2 class="text-danger mb-5 center">this is task app for efile companay</h2>
    <form class="border border-rounded p-3 center">
        <div class="form-group row m-4">
            <label for="inputPassword1" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
              <input type="text" #username class="form-control" id="inputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="form-group row m-4">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" #password class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="login(username.value,password.value)">Login</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="signup(username.value,password.value)">Signup</button>
            </div>
        </div>
    </form>
</div>